# Node
node_modules/

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Built
dist/
lib/
build/
*.tsbuildinfo
.swc/
.rollup.cache

# Testing
/coverage

# local dot-env files
.env*.local

# Vercel & Next.js
.vercel
.next
.turbo

# Other
.cache
/*.log
*.lock
.DS_Store
