.optionsPanel {
	position: fixed;
	inset-block: 0;
	inset-inline-end: 0;
	background-color: var(--modal-background);
	backdrop-filter: blur(64px);
	box-shadow: var(--modal-elevation);
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	border-inline-start: var(--tint);
}
