.flexContainer {
	display: flex;
	justify-content: space-around;
	justify-content: space-evenly;
	margin: 24px;
	flex-wrap: wrap;

	.card {
		overflow: hidden;
		border-radius: 12px;
		margin: 24px;
	}
	.image {
		display: block;
		max-height: 80vh;
		min-width: 300px;
		min-width: #{"min(300px, 100%)"};
		max-width: 100%;
		image-rendering: pixelated;
	}
}
